@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet');

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-transform: capitalize;
}

p {
  line-height: 2;
}

.blog-text {
  color: red;
  line-height: 1;
}

.products-text {
  color: blue;
  line-height: 3;
}
